figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Markt_01_opt.jpg)")
    .caption
      .inner
        .third1
          p Image 1
        .third2        
          h1 The trend towards a silver society is now a global one and the number of 60-year-olds will increase by 330% worldwide by the year 2050
        .third3
          .vc
            mixin sub1
              h2 We operate in the future and growth market that makes investments safe and successful
            +sub1
  .mobile
    +sub1

figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_RealEstate_01_opt.jpg)")
    .caption
      .inner
        .third1
          p Image 2
        .third2        
          h1 The need for sustainable residential solutions is increasing. In 2035, Germany will have the world’s oldest population, and yet only 1% of residential properties in Germany are suitable for the needs of senior citizens
        .third3
          .vc
            mixin sub2
              h2 We offer investments that open up new perspectives
            +sub2
  .mobile
    +sub2
  

figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Asset_01_opt.jpg)")
    .caption
      .inner
        .third1
          p Image 3
        .third2
          h1 The need for nursing services will increase by roughly 40% by 2030 and will include both outpatient and inpatient services for almost 3.6 million people in Germany
        .third3
          .vc
            mixin sub3
              h2 We develop sustainable living solutions that think ahead
            +sub3
  .mobile
    +sub3
    
figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Betreibergesellschaft_01_opt.jpg)")
    .caption
      .inner
        .third1
          p Image 4
        .third2
          h1 Today’s generation of pensioners have it good like no other before them. At the same time, they are becoming older all the time
        .third3
          .vc
            mixin sub4
              h2 We operate residential concepts like the TERTIANUM Premium Residences, thus providing the retirement phase a well-earned life setting
              a(href='http://www.tertianum.de', target='_blank').more Mehr
            +sub4
  .mobile
    +sub4

figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Beteiligungen_01_opt.jpg)")
    .caption
      .inner
        .third1
          p Image 5
        .third2
          h1 Higher life expectancies and new lifestyles are making aging more diverse – with individual quality expectations in terms of rooms, services and offers
        .third3
          .vc
            mixin sub5
              h2 We create residential forms that respect individual forms of living in old age
            +sub5
  .mobile
    +sub5
