h1
  span Impressum
:marked
  Angaben nach § 5 Telemediengesetz in der Fassung vom 26.02.2007 (BGBl. I, S. 179):

  ### Diensteanbieter

  DPF AG  
  Hackescher Markt 2-3   
  10178 Berlin

  T +49 30 24 34 29 89 0  
  F +49 30 24 34 29 89 45

  [info@dpf-investment.de](mailto:info@dpf-investment.de)

  Sitz der Gesellschaft: Berlin  
  USt.-IdNr. DE271205949  
  HRB 121 346 B  
  Amtsgericht Charlottenburg

  Vorstand:  
  Felix von Braun (Vors.)  
  Dirk Stenger

  Aufsichtsrat:  
  Torsten Hollstein (Vors.)  
  Dr. Wolfram Otto  
  Marcellino Graf von Hoensbroech

  ### Design und Umsetzung

  HELDISCH.COM - [www.heldisch.com](http://www.heldisch.com/)

  ### Haftung für Inhalte

  Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. 

  Als Diensteanbieter sind wir gemäß § 6 Abs. 1 MDStV und § 8 Abs. 1 TDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Diensteanbieter sind jedoch nicht verpflichtet, die von ihnen übermittelten oder gespeicherten fremden Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden entsprechender Rechtsverletzungen werden wir diese Inhalte umgehend entfernen. 

  ### Haftung für Links

  Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen. 

  ### Urheberrecht

  Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf selbst erstellte sowie lizenzfreie Werke zurückzugreifen. 

  Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. 
