block content
  h1.wrap
    span Contact

  .fullWrap
    #map
        
    .inner.wrap
      ._2col
        ._col.mobile
          h3 DPF AG
          :marked
            Hackescher Markt 2-3  
            10178 Berlin

            T +49 30 24 34 29 89 0  
            F +49 30 24 34 29 89 45

            [info@dpf-investment.de](mailto:info@dpf-investment.de)
        ._col.first
          h3 Contact us!
          p Success begins with a short message. Simply fill out the form if you would like to find out more about investment opportunities in real estate for senior citizens, or if you have any specific offers or questions. We will get back to you as soon as possible. 
          
          form#email
            div 
              input(type="text", name="company", placeholder="Company", class="long").firma
            div 
              input(type="text", name="surname", placeholder='Name *', class="long", required='required').name
            div
              input(type="text", name="street", placeholder="Street, No.", class="long").strasse
            div
              input(type="text", name="zip code", placeholder="Zip code, city", class="long").plz
            div
              input(type="text", name="phone", placeholder="Phone", class="long").telefon
            div
              input(type="email", name="email", placeholder='email *', class="long", required='required').email
            div
              textarea(name="message", cols="40", rows="5", placeholder="Message *", class="long", required='required').message
            div.center
              input(type="submit", value="Send").submit
            .result
                    
        ._col.second
          h3 DPF AG

          :marked
            Hackescher Markt 2-3  
            10178 Berlin

            T +49 30 24 34 29 89 0  
            F +49 30 24 34 29 89 45

            [info@dpf-investment.de](mailto:info@dpf-investment.de)

            Company headquarters: Berlin  
            VAT-ID no. DE271205949  
            HRB 121 346 B              Local Court Charlottenburg

            Management Board:  
            Felix von Braun (Vors.)  
            Dirk Stenger

            Supervisory Board:  
            Thorsten Hollstein  
            Dr. Wolfram Otto  
            Marcellino Graf von Hoensbroech
