nav
  ul
    li.mobile
      a(href='#').mobile
        img(src='/img/mobile2.svg')
    li.link
      a(href='#section1').section1 Company
    li.link
      a(href='#section2').section2 Fields of business
    li.link
      a(href='#section3').section3 Experts
    //- li.link
    //-   a(href='#section4') Investment criteria
    li.link
      a(href='#kontakt').kontakt Contact
