block content
  h1 
    span Investment criteria 
    
  p In the following we present our investment criteria for the areas Real Estate Investments, Investments and Operating Companies, which you can download as a PDF.
    
  ._3col
    ._col
      a(href='')
        img(src='/img/hexagon_red_PDF.svg')
        p Download_Rahmenrichtlinie 01
    ._col
      a(href='')
        img(src='/img/hexagon_green_PDF.svg')
        p Download_Rahmenrichtlinie 02
    ._col
      a(href='')
        img(src='/img/hexagon_blue_PDF.svg')
        p Download_Rahmenrichtlinie 03
