block content
  h1 
    span Company
  :marked
    **Investment in sustainable forms of living is the future**

    DPF AG is an unlisted stock corporation (Aktiengesellschaft) with our headquarters in Berlin. Our core competence, our profile, and our field of business today – the growth market for sustainable, age-appropriate forms of living in Germany – have been driven by decades of experience in the real estate, operator and capital markets. We know this market, and it is the market we focus on and invest in.

    Our partners include institutional investors who trust our in-depth expertise. We cover successfully all operative steps around the topic “living in old age” – in addition to purchasing and financing, and/or the subsequent long-term asset management, this includes improving the economic efficiency for the real estate properties and their operators.

    Our partners encounter in us a strong team which has set itself the goal of investing when the criteria growth market, asset value and sustainable yield potential – with an appropriate risk structure – are in place.

    This is the guiding principle according to which we work and our promise: We invest in the future for you.
