block content
  h1 
    span Fields of business
  ._3col
    ._col    
      img(src='/img/hexagon_red.svg')
      :marked
        **Real estate — investments that open up new perspectives**
        
        Identifying potentials and needs, developing solutions and closing gaps – that is our strategy. Important to remember: solutions cannot be achieved without special know-how. Operating care homes, assisted living and serviced housing is what we know. And our abilities lie in achieving sustainable profit optimization for property owners and operators. Our added value is project development, purchase and sale as well as structuring the financing, and we offer you this added value, which is also prerequisite for our successful performance with a future outlook.

    ._col
      img(src='/img/hexagon_green.svg')
      :marked
        **Operating company – developing products that redefine retirement**

        Knowing your target group puts you at an advantage: and we know ours. That is why we can grow operating companies in the services sector for “living in old age” by providing needs-oriented product concepts. Our clear focus is the Tertianum Group. We have developed an integrated product universe for this “premium living in old age” sector consisting of assisted living, serviced apartments in combination with outpatient and inpatient nursing care, as well as first class provision of meals, household services and concierge services. Our products are successful – for a commensurate life and a secured future in old age.

    ._col
      img(src='/img/hexagon_blue.svg')
      :marked
        **Investments – technology, service and innovations all around the theme of living in old age**

        A concept of living that goes beyond the mere built space – that is both the challenge we have taken on and our own quality demand. Anyone who manages to think in this way will also succeed in making living in old age and retirement a life worth living. We therefore create individual solutions for living that are tailored to old age and which provide for a life worth living. And we also invest in service providers and other innovative companies who have distinguished themselves through technology, service and marketing in the area of “living in old age”. By doing so, we develop our products to state-of-the-art and redefine the future in a sustainable manner.   
