.portraitBg
  .wrapper
    img(src='/img/portraits/Aufsichtsrat_Portraits_Holstein_opt.jpg')
.text
  small Chairman of the Supervisory Board
  h3 Torsten Hollstein
  p Curriculum Vitae

  table
    tr
      td.l Since 2009
      td Managing shareholder of the CR Investment Management Group, www.crmanagement.eu; CR is a leading Pan-European consultancy, asset and investment manager with a focus on real estate. The company currently manages assets of approx. €7 billion in the whole of Europe.
    tr
      td.l 2006 
      td Catella Property GmbH, Managing Director Germany: International real estate consultancy company – responsible for corporate finance, asset management, investment, and letting agency, evaluation in Germany
    tr
      td.l 1999
      td HANNOVER Finanz GmbH, Legal Advisor: Leading German private equity company for medium-sized businesses, responsible for more than 100 concluded M&A transactions, including for the sale of shareholdings in the drugstore chain Rossmann, the initial public offering of solar company Aleo Solar, the acquisition of Austrian private equity company, Mittelstands Finanzierungs AG, today HANNOVER Finanz Austria GmbH
    tr
      td.l 1996
      td DIMEG Property Development, Berlin: Responsible for the legal and operative area as part of developing a new “Lausitz Ring” Formula 1 and Cart racetrack
    tr
      td.l Seit 1996
      td Admission as a lawyer at the Regional Court Berlin
    tr
      td.l 1992/94
      td Lehman Brothers International London, Fixed Income Syndicate: Member of the team for new issues of fixed interest securities
    tr
      td.l 1994/96
      td German Armed Forces (Bundeswehr): Training as a Reserve Officer
    tr
      td.l 1986/88
      td Junior lawyer at the Court of Appeal in Berlin; 2nd state examination in law
    tr
      td.l 1986/91
      td Interdisciplinary studies in Latin American Studies at the University of Hamburg
    tr
      td.l 1984/86
      td Studies in Law at the University of Hamburg and University of Lausanne; 1.
    tr
      td.l 1984
      td German Armed Forces (Bundeswehr): Training as a Reserve Officer
