.portraitBg
  .wrapper
    img(src='/img/portraits/Aufsichtsrat_Portraits_Otto_opt.jpg')
.text
  small Member of the Supervisory Board
  h3 Dr. Wolfram Otto
  p Curriculum Vitae

  table
    tr
      td.l 2008
      td TÜV Rheinland certification of the POLIKUM companies acc. to DIN ISO:9001-2002; opening of POLIKUM Lichtenberg and POLIKUM Inner Medicine
    tr
      td.l 2007
      td Opening of POLIKUM Charlottenburg
    tr
      td.l 2005
      td Opening of the pilot project POLIKUM Friedenau and POLIKUM Grazer Damm
    tr
      td.l 2004
      td Founder and sole shareholder of the group of companies POLIKUM healthcare centres, Berlin
    tr
      td.l seit 2002
      td GP with a surgery in Berlin (Friedenau)
    tr
      td.l bis 2001
      td Medical EDP and process consultancy as owner of OBM
    tr
      td.l 1997 - 2001
      td Training as a general practitioner
    tr
      td.l bis 2001
      td Studies in Business Administration and Healthcare Economics in Hagen and Cologne, graduate healthcare economist
    tr
      td.l 1999
      td Qualification as a medical doctor in Heidelberg
    tr
      td.l 1989 - 1997
      td Studies in medicine in Gießen, Heidelberg, Durban and New Orleans
