.portraitBg
  .wrapper
    img(src='/img/portraits/Vorstand_Portraits_vonBraun.png')
.text
    small Chairman of the Management Board
    h3 Dipl.-Ing. Felix von Braun  
    
    p
      strong Curriculum Vitae

    table
      tr
        td.l Since 2010
        td Founded and developed DPF AG (>15 subsidiaries), Chairman of the Board of Management and shareholder
      tr
        td.l 03.2007-12.2009
        td Managing Director at Savills Immobilien Beratungs-GmbH (approx. 200 employees), of the subsidiary Savills PLC (approx. 20,000 employees)
      tr
        td.l 05.2004-02.2007
        td Representative of the SB Capital Group in Germany (American private equity company)
      tr
        td.l 05.2003-05.2004
        td Stoffel Holding GmbH, project manager for the strategic joint venture with SOROS Real Estate Partners and SB Capital Group, overall volume of the fund: 1.0 billion euros equity capital
      tr
        td.l 01.2000-12.2003
        td Stoffel Holding GmbH (medium-sized project developer with approx. 100 million euros annual turnover)
