.portraitBg
  .wrapper
    img(src='/img/portraits/Aufsichtsrat_Portraits_Hoensbroech_opt.jpg')
.text
  small Member of the Supervisory Board
  h3 Marcellino Graf von Hoensbroech
  p Curriculum Vitae

  table
    tr
      td
        p Marcellino Graf v. Hoensbroech is an internationally operating real estate investor. He also holds positions as a member of the administrative board in various companies in the finance, project development and asset management sectors.

        p He has more than 20 years of professional experience in the real estate and credit sectors. Before becoming a self-employed investor, he was Managing Director for 13 years of the international private equity company CarVal Investors in London and in charge of the credit management divisions in France and Germany, and the real estate division in Germany, Switzerland and Austria. Before that he worked for 7 years at Arthur Andersen in real estate consultancy and evaluation in Germany, Italy and England.
