.portraitBg
  .wrapper
    img(src='/img/portraits/Vorstand_Portraits_Stenger.png')
.text
    small Member of the Management Board
    h3 Dipl.-Kfm. Dirk Stenger
    
    p
      strong Curriculum Vitae

    table
      tr
        td.l Since 2015
        td DPF AG, CFO <br/>Tertianum Group, Managing Director<br/>Brasseries Colette Tim Raue, Managing Director
      tr
        td.l 2012-2015
        td Stenger management consultancy, owner (Consultant to medical companies in the areas of financing and controlling/reporting)
      tr
        td.l 2010-2012
        td POLIKUM Group, Group CFO, Managing Director (Company active in the area of outpatient medical care, approx. 800 employees)
      tr
        td.l 2002-2009
        td ELIXIA Groupe, Group Finance Director (Health & spa clubs in 6 European countries, approx. 2,000 employees)
      tr
        td.l 1999-2002
        td Worldcom (today Verizon), Manager Financial Planning (Telecommunications company)
      tr
        td.l 1994-1997
        td PriceWaterhouseCoopers, Senior Consultant (Auditing, taxes, implementation of financial software)
      tr
        td.l 1987-1994
        td University of Mannheim, studies in business administration, graduated in BA
