.logo
  h1
    span
      img(src='/img/DPF-AG.svg')
.left
  span.impressum
    a(href='#impressum').impressum Impressum
  span.datenschutz
    a(href='#datenschutz').datenschutz Datenschutz
.right 
  p &copy; DPF AG 2016
