figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Markt_01_opt.jpg)")
    .caption
      .inner
        .third1
          h1
        .third2        
          h1 Der Trend zur „Silver Society“ ist inzwischen global – die Anzahl der über 60-Jährigen steigt bis 2050 weltweit um 330 %
        .third3
          .vc
            mixin sub1
              h2 Wir agieren in dem Zukunfts- und Wachstumsmarkt, der Investitionen sicher und erfolgreich macht
            +sub1
  .mobile
    +sub1

figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_RealEstate_01_opt.jpg)")
    .caption
      .inner
        .third1
          h1
        .third2        
          h1 Der Bedarf an nachhaltigen Wohnlösungen steigt: 2035 wird Deutschland die älteste Bevölkerung der Welt haben, doch nur 1 % der Wohnungen in Deutschland ist altersgerecht
        .third3
          .vc
            mixin sub2
              h2 Wir bieten Investitionen, die neue Perspektiven eröffnen
            +sub2
  .mobile
    +sub2
  

figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Asset_01_opt.jpg)")
    .caption
      .inner
        .third1
          h1
        .third2
          h1 Der Bedarf an Pflegeangeboten steigt bis 2030 um knapp 40 % und umfasst ambulante wie stationäre Angebote für knapp 3,6 Millionen Menschen in Deutschland
        .third3
          .vc
            mixin sub3
              h2 Wir entwickeln nachhaltige Wohnlösungen, die Zukunft vorausdenken
            +sub3
  .mobile
    +sub3
    
figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Betreibergesellschaft_01_opt.jpg)")
    .caption
      .inner
        .third1
          h1
        .third2
          h1 Der heutigen Rentnergeneration geht es so gut wie keiner vor ihr, gleichzeitig wird sie immer älter
        .third3
          .vc
            mixin sub4
              h2 Wir betreiben Wohnkonzepte, wie die TERTIANUM Premium Residences, und geben dem Ruhestand damit den wohlverdienten Rahmen
              a(href='http://www.tertianum.de', target='_blank').more Mehr
            +sub4
  .mobile
    +sub4

figure
  .image(style="background: url(/img/gallery/DPF_Headerbilder_WEB_Beteiligungen_01_opt.jpg)")
    .caption
      .inner
        .third1
          h1
        .third2
          h1 Höhere Lebenserwartung und neue Lebensstile machen das Altern vielfältig – mit individuellen Ansprüchen an Räume, Dienstleistungen und Angebote
        .third3
          .vc
            mixin sub5
              h2 Wir schaffen Wohnformen, die individuelle Lebensformen im Alter berücksichtigen
            +sub5
  .mobile
    +sub5
