block content
  h1.wrap
    span Kontakt

  .fullWrap
    #map
    
    .inner.wrap
      ._2col
        ._col.mobile
          h3 DPF AG
          :marked
            Hackescher Markt 2-3  
            10178 Berlin

            T +49 30 24 34 29 89 0  
            F +49 30 24 34 29 89 45

            [info@dpf-investment.de](mailto:info@dpf-investment.de)
        ._col.first
          h3 Kontaktieren Sie uns!
          p Erfolg beginnt mit einer kurzen Nachricht. Füllen Sie einfach das Formular aus, wenn Sie mehr zu Investitionschancen in Senioren-Immobilien erfahren möchten oder konkrete Angebote oder Fragen haben. Wir melden uns bei Ihnen. 
          
          form#email
            div 
              input(type="text", name="firma", placeholder="Firma", class="long").firma
            div 
              input(type="text", name="name", placeholder='Name *', class="long", required='required').name
            div
              input(type="text", name="strasse", placeholder="Straße, Nr", class="long").strasse
            div
              input(type="text", name="plz", placeholder="PLZ, Ort", class="long").plz
            div
              input(type="text", name="telefon", placeholder="Telefon", class="long").telefon
            div
              input(type="email", name="email", placeholder='E-Mail *', class="long", required='required').email
            div
              textarea(name="message", cols="40", rows="5", placeholder="Nachricht *", class="long", required='required').message
            div.center
              input(type="submit", value="Send").submit
            .result
                    
        ._col.second
          h3 DPF AG

          :marked
            Hackescher Markt 2-3  
            10178 Berlin

            T +49 30 24 34 29 89 0  
            F +49 30 24 34 29 89 45

            [info@dpf-investment.de](mailto:info@dpf-investment.de)

            Sitz der Gesellschaft: Berlin  
            USt.-IdNr. DE271205949  
            HRB 121 346 B  
            Amtsgericht Charlottenburg

            Vorstand:  
            Felix von Braun (Vors.)  
            Dirk Stenger

            Aufsichtsrat:  
            Thorsten Hollstein  
            Dr. Wolfram Otto  
            Marcellino Graf von Hoensbroech
