nav
  ul
    li.mobile
      img(src='/img/mobile2.svg')
    li.link
      a(href='#section1').section1 Unternehmen
    li.link
      a(href='#section2').section2 Geschäftsfelder
    li.link
      a(href='#section3').section3 Köpfe
    //- li.link
    //-   a(href='#section4') Investitionskriterien
    li.link
      a(href='#kontakt').kontakt Kontakt
