block content
  h1 
    span Unternehmen
  :marked
    **Nachhaltige Wohnformen sind die Zukunft**

    Die DPF AG ist eine nicht börsennotierte Aktiengesellschaft mit Hauptsitz in Berlin. Jahrzehntelange Immobilien-, Betreiber- und Kapitalmarkterfahrung hat unsere Kernkompetenz, unser Profil und unser heutiges Geschäftsfeld vorangetrieben: der Wachstumsmarkt nachhaltiger, altersgerechter Wohnformen in Deutschland. Diesen Markt kennen wir, auf diesen Markt konzentrieren wir uns, in diesen Markt investieren wir.

    Zu unseren Partnern zählen institutionelle Investoren, die unserer fundierten Expertise vertrauen: Erfolgreich decken wir sämtliche operativen Schritte rund um das Thema „Wohnen im Alter“ ab – neben Erwerb und Finanzierung und/oder anschließendes langfristiges Assetmanagement,ist es die Verbesserung der Wirtschaftlichkeit auf der Immobilien- sowie Betreiberseite.

    Unsere Partner treffen auf ein starkes Team, das sich zum Ziel gesetzt hat, dann zu investieren, wenn die Merkmale Wachstumsmarkt, Sachwert und nachhaltiges Renditepotenzial bei angemessener Risikostruktur stimmen.

    Nach diesem Leitmotiv handeln wir – das ist unser Versprechen: Wir investieren für Sie in die Zukunft.
