block content
  h1 
    span Investitionskriterien
    
  p Im Folgenden stellen wir Ihnen unsere Investitionskriterien für die Bereiche Real Estate Investments, Beteiligungen und Betreibergesellschaften als PDF zum Download bereit.
  
  ._3col
    ._col
      a(href='')
        img(src='/img/hexagon_red_PDF.svg')
        p Download_Rahmenrichtlinie 01
    ._col
      a(href='')
        img(src='/img/hexagon_green_PDF.svg')
        p Download_Rahmenrichtlinie 02
    ._col
      a(href='')
        img(src='/img/hexagon_blue_PDF.svg')
        p Download_Rahmenrichtlinie 03
