.portraitBg
  .wrapper
    img(src='/img/portraits/Aufsichtsrat_Portraits_Otto_opt.jpg')
.text
  small Aufsichtsrat
  h3 Dr. Wolfram Otto
  p Lebenslauf

  table
    tr
      td.l 2008
      td TÜV Rheinland Zertifizierung der POLIKUM Gesellschaften nach DIN ISO:9001-2002; Eröffnung POLIKUM Lichtenberg und POLIKUM Innere Medizin
    tr
      td.l 2007
      td Eröffnung POLIKUM Charlottenburg
    tr
      td.l 2005
      td Eröffnung der Pilotprojekte POLIKUM Friedenau und POLIKUM Grazer Damm
    tr
      td.l 2004
      td Gründer und alleiniger Gesellschafter der Gesellschaftsgruppe POLIKUM Gesundheitszentren, Berlin
    tr
      td.l seit 2002
      td Niedergelassener Facharzt für Allgemeinmedizin in Berlin (Friedenau)
    tr
      td.l bis 2001
      td Praxis EDV und Prozessberatung als Inhaber der OBM
    tr
      td.l 1997 - 2001
      td Facharztausbildung Allgemeinmedizin
    tr
      td.l bis 2001
      td Fernstudium BWL und Gesundheitsökonomie in Hagen und Köln, Dipl. Gesundheitsökonom
    tr
      td.l 1999
      td Promotion zum Dr. med. in Heidelberg
    tr
      td.l 1989 - 1997
      td Studium Humanmedizin in Gießen, Heidelberg, Durban und New Orleans
