.portraitBg
  .wrapper
    img(src='/img/portraits/Vorstand_Portraits_Stenger.png')
.text
    small Vorstand
    h3 Dipl.-Kfm. Dirk Stenger
    
    p
      strong Lebenslauf

    table
      tr
        td.l Seit 2015
        td DPF AG, Finanzvorstand <br/>Tertianum Gruppe, Geschäftsführer <br/>Brasserien Colette Tim Raue, Geschäftsführer
      tr
        td.l 2012-2015
        td Stenger Unternehmensberatung, Inhaber (Beratung medizinischer Unternehmen bei Finanzierung und Controlling/Reporting)
      tr
        td.l 2010-2012
        td POLIKUM Gruppe, Group CFO, Geschäftsführer (Unternehmen im Bereich ambulante Medizin, ca. 800 Mitarbeiter)
      tr
        td.l 2002-2009
        td ELIXIA Gruppe, Group Finance Director (Health & Wellness in 6 Europäischen Ländern, ca. 2.000 Mitarbeiter)
      tr
        td.l 1999-2002
        td Worldcom (heute Verizon), Manager Financial Planning (Telekommunikationsunternehmen)
      tr
        td.l 1994-1997
        td PriceWaterhouseCoopers, Senior Consultant (Wirtschaftsprüfung, Steuern, Implementierung von Finanzsoftware)
      tr
        td.l 1987-1994
        td Universität Mannheim, Studium der Betriebswirtschaftslehre, Diplom-Kaufmann
