.portraitBg
  .wrapper
    img(src='/img/portraits/Vorstand_Portraits_vonBraun.png')
.text
    small Vorstandvorsitzender
    h3 Dipl.-Ing. Felix von Braun  
    
    p
      strong Lebenslauf

    table
      tr
        td.l Seit 2010
        td Gründung und Aufbau der DPF AG (>15 Tochtergesellschaften), Vorstandsvorsitzender und Aktionär
      tr
        td.l 03.2007-12.2009
        td Geschäftsführer Savills Immobilien Beratungs-GmbH (ca. 200 Mitarbeiter), Tochtergesellschaft der Savills PLC (ca. 20.000 Mitarbeiter)
      tr
        td.l 05.2004-02.2007
        td Repräsentant von SB Capital Group in Deutschland (Amerikanische Private Equity Gesellschaft)
      tr
        td.l 05.2003-05.2004
        td Stoffel Holding GmbH, Projektleiter für das strategische Joint Venture mit SOROS Real Estate Partners und SB Capital Group, Gesamtvolumen des Fonds: 1,0 Mrd. Euro Eigenkapital
      tr
        td.l 01.2000-12.2003
        td Stoffel Holding GmbH (mittelständischer Projektentwickler mit ca. 100 Mio. Euro Jahresumsatz)
