.portraitBg
  .wrapper
    img(src='/img/portraits/Aufsichtsrat_Portraits_Hoensbroech_opt.jpg')
.text
  small Aufsichtsrat
  h3 Marcellino Graf von Hoensbroech
  p Lebenslauf

  table
    tr
      td
        p Marcellino Graf v. Hoensbroech ist ein international tätiger Immobilien Investor. Daneben verantwortet er in verschiedenen Gesellschaften im Finanzierungs-, Projektentwicklungs- und Asset Management Bereich Verwaltungsratsmandate.

        p Er verfügt über mehr als 20 Jahre Berufserfahrung im Immobilien- und Kreditbereich. Vor seiner Tätigkeit als selbständiger Investor war er 13 Jahre als Managing Director für die internationale Private Equity Gesellschaft CarVal Investors in London tätig und verantwortete die Bereiche Kreditengagement in Frankreich und Deutschland und den Immobilienbereich in Deutschland, Schweiz und Österreich. Davor war er 7 Jahre bei Arthur Andersen in der Immobilienberatung und -bewertung in Deutschland, Italien und England tätig.
