.portraitBg
  .wrapper
    img(src='/img/portraits/Aufsichtsrat_Portraits_Holstein_opt.jpg')
.text
  small Aufsichtsratvorsitzender
  h3 Torsten Hollstein
  p Lebenslauf

  table
    tr
      td.l Seit 2009
      td Geschäftsführender Gesellschafter der CR Investment Management Group, www.crmanagement.eu; CR ist ein führender pan-europäischer Berater, Asset und Investment Manager mit dem Schwerpunkt auf Immobilien. Das Unternehmen verwaltet derzeit ein Vermögen von ca. €7 Milliarden in ganz Europa.
    tr
      td.l 2006 
      td Catella Property GmbH, Geschäftsführer Deutschland: Internationales Immobilien Beratungsunternehmen - verantwortlich für Corporate Finance, Asset Management, Investment und Letting Agency, Bewertung in Deutschland
    tr
      td.l 1999
      td HANNOVER Finanz GmbH, Syndikus: Führendes deutsches Private Equity Unternehmen für den Mittelstand, verantwortlich für mehr als 100 abgeschlossene M&A Transaktionen, unter anderem für den Verkauf der Beteiligungen an der Drogeriekette Rossmann, den Börsengang des Solarunternehmens Aleo Solar, die Akquisition des österreichischen mittelständischen Private Equity Unternehmens, Mittelstands Finanzierungs AG, heute HANNOVER Finanz Austria GmbH
    tr
      td.l 1996
      td DIMEG Property Development, Berlin: Verantwortlich für rechtliche und operative Aufgaben im Rahmen der Entwicklung einer neuen Formel 1- und Kart-Rennstrecke “Lausitz Ring”
    tr
      td.l Seit 1996
      td Zulassung als Rechtsanwalt beim Landgericht Berlin
    tr
      td.l 1992/94
      td Lehman Brothers International London, Fixed Income Syndicate: Mitglied des Teams für Neuimmissionen von festverzinslichen Wertpapieren
    tr
      td.l 1994/96
      td Bundeswehr: Ausbildung zum Reserveoffizier
    tr
      td.l 1986/88
      td Rechtsreferendar beim Kammergericht Berlin; 2. Juristisches Staatsexamen
    tr
      td.l 1986/91
      td Interdisziplinärer Studiengang Lateinamerikastudien Universität Hamburg
    tr
      td.l 1984/86
      td Studium der Rechtswissenschaften an den Universitäten Hamburg und Lausanne; 1.
    tr
      td.l 1984
      td Bundeswehr: Ausbildung zum Reserveoffizier
